perf
spec
.git
yarn.lock
coverage
typings/
.vscode/
spec/
scripts/
!dist/src
dist/scripts/
examples/
.travis.yml
appveyor.yml
jest.json
tsconfg.json
tslint.json
wallaby.js
.circleci/
tsconfig.*
commitlint.config.js
*.yml
*.tgz
karma.conf.js
.tmp
.nyc_output
.dependency-cruiser.json